In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [5]:
df=pd.read_csv("D:\d2.csv")
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   28  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [15]:
import math
median_bedroom=math.floor(df.bedroom.median())
df.bedroom=df.bedroom.fillna(median_bedroom)
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   28  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [39]:
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedroom','age']],df.price)

LinearRegression()

In [55]:
new_home = [[9000, 2, 100]]
predicted_price = reg.predict(new_home)
predicted_price

C:\Users\raobi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([938450.])